{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "services": "./providers/services"
        }
      }
    ]
  ]
}
